/* -----------------
ALL ELEMENTS STYLING
----------------- */

/* Displays content flush to the edge of the screen and makes web page scroll smoothly when navigation links are clicked. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}


/* --------------
FULL PAGE STYLING
-------------- */

/* Sets color for the background of the whole web page. */
body {
    background-color: #d9dcd6;
}


/* --------------
ALL LINKS STYLING
-------------- */

/* Sets links' text color to white and removes the underlines. */
a {
    color: #ffffff;
    text-decoration: none;
}


/* ------------
NAV BAR STYLING
------------ */

/* Sets nav bar spacing, font, background color, and text color of the top bar of the page. Also sets nav bar to stay on page when scrolling. */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    position: sticky;
    top: 0;
}

/* Sets Horiseon link for nav bar to allow other elements to be inline and sets text size. */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Sets color of the "seo" text in "Horiseon" in the nav bar. */
header h1 .seo {
    color: #c9ff92;
}

/* Sets spacing between links, text margin and padding from the edge of the screen, font, and text size excluding the Horiseon text header. */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Sets nav bar links to have no bullet points. */
header nav ul {
    list-style-type: none;
}

/* Sets nav bar links to be inline with the Horiseon link and sets the margin between nav bar links. */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}


/* --------------
MAIN PAGE STYLING
-------------- */

/* Sets main page content text size. */
p {
    font-size: 16px;
}

/* Sets hero image margins. */
.hero {
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/* -----------------
MAIN SECTION STYLING
----------------- */

/* Sets main content's width and margin. Also allows content to be displayed on the right of the page. */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Sets the main contents individual sections' margin, padding, height, font, background color, text color, and scrolling margin for the nav bar. */
.general-information {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    scroll-margin-top: 100px;
}

/* Sets main content images' max height. */
.general-information img {
    max-height: 200px;
}

/* Sets main content headers' bottom margin and font size. */
.general-information h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Sets Search Engine Optimization and Social Media Marketing images position to the left of the text and its spacing from the text. */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Sets Online Reputation Management image position to the right of the text and its spacing from the text. */
.float-right {
    float: right;
    margin-left: 25px;
}


/* -------------
SIDE BAR STYLING
------------- */

/* Sets side bar content's margin, padding, page positioning, size, font, and background color. */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Sets margin between each side bar section and the bottom edge of the section. Also sets side bar text color. */
.benefit-information {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Sets the margin and alignment of the side bar headings. */
.benefit-information h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Sets position, margins, and width of side bar icons. */
.benefit-information img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* -----------
FOOTER STYLING
----------- */

/* Sets footer padding, font, and alignment. */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Sets the footer's header font size. */
.footer h4 {
    font-size: 20px;
}

/* Sets Scroll to top link's text color and adds in the link underline. */
#scroll-to-top {
    color: rgb(0, 0, 255);
    text-decoration: underline;
}
